<footer id="main-footer" class="page-footer font-small blue fixed-bottom bg-dark">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<p>
<div class=" text-center text-white"> <small>Desarrollo full stack de soluciones web con JavaScript y servicios web</small></div>
<hr/>
<a class=" d-flex align-items-center justify-content-center text-center text-white " href="https://github.com/hectorbarral/showmethecode"> <b>GitHub</b> </a>
</p>
</footer>
