<link rel="stylesheet" href="/public/css/header.css"/>
<header class=" mb-0 bg-dark "> 
  <br>
    <a class=" p1 d-flex justify-content-center text-white " href="/">
        <div class="header">
      <div class="game-name">
        ShowMeTheCode!
      </div>
      <div class="flex">
        <div class="username-name-header"></div>
        <div class="username-action"></div>
      </div>
    </div>
    </a>
  <br>
</header>                   
