<head>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
<div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('/public/img/patron-raro.jpg');">
      <div
        class="mask"
        style="background: linear-gradient(to bottom,hsla(0,0%,0%,0)50%,hsla(357,80%,20%,0.5));">
            <div class="row">
                <form action="/user/login" method="POST">                        
                        <h1 class="mb-3">Inicia Sesion</h1>                      
                    <div class="col content-name ">
                        <div class="section">
                            <div class="title">Username</div>
                            <label class="field text-black" ><input type="text" id="username" name="username"></label>
                        </div>
                        <div class="section">
                            <div class="title">Password</div>
                            <label class="field text-black"><input type="password" id="password" name="password"></label>
                        </div>
                        <br>
                        <div class="section">
                            <div class="button  text-dark"><input type="submit" value="LOGIN"></div>
                        </div>
                        <br>
                        <br>
                    </div> 
                </form>
                    <div class="section">
                        <div class="title">¿Aún no estas registrado?</div>
                        <br>
                        <ul><li class="button"></ul>
                            <a  href="/register"><button class="button"><b> REGISTRO </b></button></a>
                        </li>
                        <br>
                        <br>
                    </div>
            </div>
    </div>
</div>
<body background="/public/img/patron-raro.jpg">
    <!-- monstruos -->
    <div id="monstruos" class="px-5 pb-5 bg-dark">
        <div class="container">
            <div class="row">
                <br>
                <h3 class="text-center text-white text-shadow"><br><b>MONSTRUOS : Cada usuario podrá elegir uno de ellos en el lobby para participar.</b></h3>
                <br>
            </div>
            <div class="row row-cols-2">
                <div class="col-sm-3">
                    <img src="/public/img/Dracula.png" alt="monstruo 1" class="w-80 monstruo">
                </div>
                <div class="col-sm-3">
                    <img src="/public/img/Lobo.png" alt="monstruo 2" class="w-80 monstruo">
                </div>
                <div class="col-sm-3">
                    <img src="/public/img/Momia.png" alt="monstruo 3" class="w-80 monstruo">
                </div>
                <div class="col-sm-3">
                    <img src="/public/img/Prometeo.png" alt="monstruo 4" class="w-80 monstruo">
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>   
