<head>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('/public/img/patron-raro.jpg');">
    <div class="row ">
        <div class="col mask content-mask">
            <div>
                <form action="/user/register" method="POST"> 
                <br>
                    <h2 class="mb-3">Registro de nuevo usuario</h2> 
                    <br>
                    <br>
                    <div class="section">
                        <div class="title">Username</div>
                        <div class="field text-black"><input type="text" id="username" name="username"></div>
                    </div>
                    <br>
                    <div class="section">
                        <div class="title">Password</div>
                        <div class="field text-black"><input type="password" id="password" name="password"></div>
                    </div>
                    <br>   
                    <div class="section">
                        <div class="button1 text-black"><input type="submit" value="REGISTRO"> </div>                            
                    </div> 
                    <br>                                       
                </form>                    
            </div>
        </div>
    </div>
</div>
<body background="/public/img/patron-raro.jpg">
<div id="full-body">
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>   